<div class="flex md:flex-row flex-col mt-7 px-3 md:px-14 py-6 gap-9">
    <div
        class="fixed cursor-pointer flex flex-col gap-2"
        >
        <app-go-back-button></app-go-back-button>
        <app-icon
         [routerLink]="'/blog/edit/'+blog._id"
         *ngIf="author.author._id === blog.author._id" 
         [iconClass]="'bi-pencil-square'" class="cursor-pointer"></app-icon>
    </div>
    <div class="flex flex-col gap-16 px-6 md:px-36 w-full ">
        <h1 *ngIf="blog?.tittle" class="text-center text-4xl font-bold text-red-400 ">
           {{blog.tittle}}
        </h1>
        <img class="max-h-[400px] w-auto object-cover" [src]="blog.image" [alt]="blog.tittle" >
        <p *ngIf="blog?.content" class=" font-serif text-justify text-[20px] text-[#767676] ">
            {{blog.content}}
        </p>
        <h1 *ngIf="blog?.author" class="text-2xl font-bold text-red-400">
            By: {{blog.author.name}}
        </h1>
    </div>
    <div class="fixed left-[80%] md:left-[91%] bottom-[85px] md:bottom-[61px] cursor-pointer ">
        <app-icon 
          (buttonClick)="handleButtonClick()" 
          [iconClass]="'bi-arrow-up-circle-fill'"
          ></app-icon>
      </div>
</div>