<div class='bg-slate-200 h-20 px-3 md:px-8 py-5 flex justify-between items-center '>
    <app-icon
      *ngIf="adminPath && author.author.role === 'admin'" 
      [iconClass]="'bi-list custom-icon-font'"
      (buttonClick)="handleSidebar()"
    ></app-icon>
    <!-- <app-icon class="rotate-180 block md:hidden" routerLink="" [iconClass]="'bi-paragraph custom-icon-font2'"></app-icon> -->
    <a class="decoration-0 font-bold text-2xl md:text-4xl" routerLink="">BreifIt</a>
    <app-icon extraClasses="px-0" [iconClass]="'bi-person-circle custom-icon-font'" mat-button [matMenuTriggerFor]="menu"></app-icon>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="author.isLoggedIn; else showLogout">
            <button mat-menu-item>{{author.author.name}}</button>
            <button (click)="handleLogout()" mat-menu-item>Logout</button>
            <button *ngIf="author.author.role === 'admin'" routerLink="/admin/dashboard" mat-menu-item>Dashboard</button>
        </ng-container>
        <ng-template #showLogout>
            <button routerLink="/login" mat-menu-item>Login</button>
        </ng-template>
    </mat-menu>
</div>