
.tableContainer, .pagination {
    min-width: 400px !important; 
    width: 100% !important;
    background-color:#94a3b8 !important;
    border-radius: 15px !important;
    /* box-shadow: 0 0 #0000, 0 0 #0000 !important; */
}

.mat-mdc-paginator {
    min-width: 400px;
}