<app-loader *ngIf="loading; else showForm"></app-loader>
<ng-template #showForm>
  <app-auth-container [needContainer]="false" [extraContainerClass]="'flex gap-8 p-8 md:flex-row flex-col'"
    [formGroupData]="blogForm" (formSubmitted)="submitBlogForm()">
    <div class=" flex-row flex gap-2 md:flex-col w-24 items-start ">
      <app-go-back-button></app-go-back-button>
        <!-- <app-icon class="cursor-pointer" routerLink="" [iconClass]="constants.backButtonIconClass"></app-icon> -->
      <!-- <app-icon [bttonType]="'submit'" [iconClass]="'bi-bookmark-check-fill'"></app-icon> -->
    </div>
    <div class=" flex items-center flex-col  border-4 w-full h-full p-4 gap-10">
      <app-input class="w-full" [placeholder]="'Enter Title...'" [extraInputClass]="'text-3xl font-semibold'"
        [control]="blogForm.controls.tittle"></app-input>
      <app-file-input class="self-start" [extraContainerClasses]="''" (imageChange)="handleImageChange($event)"
        [image]="previewImage"></app-file-input>
      <hr />
      <app-text-editor [control]="blogForm.controls.content" class="w-full"></app-text-editor>
      <app-button class="self-end" [type]="'submit'" [text]="'Save Blog'" ></app-button>
    </div>
    <!-- <Toaster /> -->
  </app-auth-container>
</ng-template>